.DocumentLayout.json
.suo
/.vs/Solution1test/FileContentIndex/5ac8a2f0-ba9b-47c8-bfdc-9186adf53b1c.vsidx
/.vs/Solution1test/FileContentIndex/f4a6dd68-da91-4526-8d06-400e5c46a52d.vsidx
/.vs/Solution1test/FileContentIndex/2390dc51-5cd2-45f5-b284-17d0b39b48e2.vsidx
.vs
